/* 全体 */
.mypage {
    width: 90%;
    margin: 0 auto;
}

/* ヘッダー */
.mypage__header {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 40px;
}

.mypage__profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mypage__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background: #ccc;
}

.mypage__avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mypage__username {
    font-size: 24px;
}

/* 編集ボタン */
.mypage__edit-button {
    border: 1px solid #ff5555;
    color: #ff5555;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

/* タブ */
.mypage__tabs {
    display: flex;
    gap: 40px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 40px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding-left: 15%;
}

.mypage__tab {
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #555;
}

.mypage__tab--active {
    color: #ff5555;
}

/* グリッド */
.mypage__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 40px;
}

/* 画像 */
.mypage__image {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: #ccc;
}

.mypage__image-tag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 商品名 */
.mypage__item-name {
    margin-top: 10px;
    font-size: 14px;
}