/* 画像エリア */
.profile__image-area {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

/* 画像 */
.profile__image {
    width: 120px;
    height: 120px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ボタン */
.profile__image-button {
    border: 1px solid #ff5555;
    color: #ff5555;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}