/* 全体 */
.purchase {
    width: 90%;
    margin: 40px auto;
}

.purchase__form {
    display: flex;
    width: 100%;
    gap: 60px;
}

/* 左 */
.purchase__left {
    flex: 2;
}

/* 商品 */
.purchase__item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}

.purchase__image {
    width: 120px;
    height: 120px;
    background: #ccc;
}

.purchase__name {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.purchase__price {
    font-size: 24px;
    margin-top: 10px;
}

/* セクション */
.purchase__section {
    padding: 30px 20px;
    border-bottom: 1px solid #000;
}

.purchase__label {
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 20px;
}

/* セレクト */
.purchase__select {
    padding: 5px;
    margin-left: 60px;
}

/* 配送先 */
.purchase__address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

.purchase__change {
    color: #0044ff;
    text-decoration: none;
    font-size: 14px;
}

.purchase__address {
    margin-top: 20px;
    margin-left: 60px;
    line-height: 1.8;
    font-weight: bold;
}

/* 右 */
.purchase__right {
    flex: 1;
}

/* サマリー */
.purchase__summary {
    border: 1px solid #000;
}

.purchase__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    border-bottom: 1px solid #000;
}

.purchase__row:last-child {
    border-bottom: none;
}

/* ボタン */
.purchase__button {
    width: 100%;
    background: #ff5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 52px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
}

/* エラーメッセージ */
.purchase__error {
    color: #ff5555;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 60px;
}